<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app"></div>

    <template id="app-template">
      <div id="app" v-drag-group>
        <div v-drag-list="{ data: 'list1' }">
          <p v-for="i in count" v-drag-item="{ data: { id: i } }"></p>
        </div>
        <div v-drag-list="{ data: 'list2' }">
          <p v-for="i in count" v-drag-item="{ data: { id: i } }"></p>
        </div>
      </div>
    </template>

    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <script src="../node_modules/hammerjs/hammer.min.js"></script>
    <!-- <script>
      var hammerjs = Hammer;
    </script> -->
    <script src="../dist/index.js"></script>
    <script>
      Vue.use(KbDragDrop);
      const app = new Vue({
        el: '#app',
        template: '#app-template',
        data: {
          count: 5,
        },
        methods: {
          handleDrop(event) {
            console.log(event);
          },
          eventConsole(event) {
            console.log(event);
          },
          select(event) {
            console.log(event);
          },
        },
      });
    </script>
  </body>
</html>
